<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>로그인 페이지</h1>
<hr/>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=1f7061f93b3e8f6cbb2a143f64f71f0c&redirect_uri=http://localhost:8080/callback&response_type=code&scope=account_email">카카오로그인</a>
</body>
</html>